@charset "ISO-8859-1";

.bottoni{

    background-color: #4CAF50;
    cursor: pointer;
    text-align: center;
    width: 10%;
    margin-left: 45%;
}
.verde{

    background-color: #4CAF50;    
}

.intestazioni{
    text-align: center;
    color: brown;
    text-decoration-color: none;
}

.nero-azzurro {
    font-size: smaller;
    font-style: italic;
     font-family: "Times New Roman"; 
    background: aqua;
    border: solid black;
    cursor: pointer;
    
}

.bordo-verde{
    text-align: center;
    border:dotted green;
}

body{
    background-image:url("/images/cartina.jpg");
    height: 100%;

}

.giallo{
    display: inline-block;
    background-color: yellowgreen;
    cursor: pointer;
    text-align: center;
    margin-left: 45%;
}

.viola{

    background-color: blueviolet;
    text-align: center;
}
.rosso{

    background-color: red;
    cursor: pointer;

}

.bianco{

    background-color: white;
    cursor: pointer;
}

.underline{

    cursor: pointer;
    text-decoration: underline;
}

  