@charset "ISO-8859-1";

.bottoni{

    background-color: #4CAF50;
    cursor: pointer;
    text-align: center;
    width: 10%;
    margin-left: 45%;
}
.verde{

    background-color: #4CAF50;    
}

.nero-azzurro {
    font-size: smaller;
    font-style: italic;
     font-family: "Times New Roman"; 
    background: aqua;
    border: solid black;
    cursor: pointer;
    
}

.verde{
 
    color:green;
}

body{
    background-image:url("/images/sfondo.jpg");
    height: 100%;

}

.giallo{
    color: yellowgreen;
}

.viola{

    color: blueviolet;
}
.rosso{

    background-color: red;

}

.bianco{

    background-color: white;
    cursor: pointer;
}

.underline{

    cursor: pointer;
    text-decoration: underline;
}

.blu{

    color: blue;
}

.pointer{

    cursor:pointer;
}

  
  